body {
  background-color: #3B3632;
  color: #FFF;
}

h2, h3, h4, h5, h6{
  color: #C89763;
}

h6 {
  display: inline-block;
  margin-bottom: 0rem;
}

.row {
   margin-bottom: 2em;
}
ul {
  padding: 0px 20px 0px 20px;
}

li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
.audition {
  background-color: #81736B;
  padding: 10px 0 10px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 180px;
}

.header {
  margin-top: 100px;
}

.nora {
   background-color: #3B3632;
   border: #3B3632;
   height: 100%;
   width: 100%;
   border-radius: 20px;
   display: inline-block;
}


#flyer {
  margin-top: 4%;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}



#links img {
  margin-right: 1em;
}


#tickets {
  display: none;
}

.garry {
  width: 50%;
  float: left;
  margin: 1em;
}

@media screen and (max-width: 550px){
  #tickets {
    display: block;
  }
}
